ul li {
    cursor: pointer;
}

ul li.checked {
    text-decoration: line-through;
    background: rgb(190, 186, 186);
    color: #fff;
}

.checked::before {
    content: " ";
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0px 2px 2px 0;
    top: 15px;
    left: 6px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 12px 16px;
}

.close:hover {
    background: red;
    color: #fff;
}